{{- partial "header/countup-css.html" -}}
{{/* Display countdown */}}
<div class="clearfix">
  <ul id="cntlst">
    <li id="months">
      <div class="number">00</div>
      <div class="label text-uppercase">Months</div>
    </li>
    <li id="days">
      <div class="number">00</div>
      <div class="label text-uppercase">Days</div>
    </li>
    <li id="hours">
      <div class="number">00</div>
      <div class="label text-uppercase">Hours</div>
    </li>
    <li id="minutes">
      <div class="number">00</div>
      <div class="label text-uppercase">Minutes</div>
    </li>
    <li id="seconds">
      <div class="number">00</div>
      <div class="label text-uppercase">Seconds</div>
    </li>
  </ul>
</div>

{{/* Define target date */}}
<script>
  {{- if .IsNamedParams -}}
      {{- with .Get "date" -}}
          const targetDate = new Date({{- time.AsTime . | safeJSStr -}}).valueOf();
      {{- end -}}
  {{- else -}}
      {{- with .Get 0 -}}
          const targetDate = new Date({{- time.AsTime . | safeJSStr -}}).valueOf();
      {{- end -}}
  {{- end -}}
</script>
{{- partial "footer/jquery.html" -}}